@using LibraryManager.DAL.Entities
@model IEnumerable<Book>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<ul>
@foreach (var book in Model)
{
    <li>
        <h5>Title: </h5> @book.Title
        <h5>Author: </h5> @book.Author
        <h5>Rating: </h5> @book.Rating
    </li>
}
</ul>