@model LibraryManager.DTO.Models.Manage.EditBookViewModel;
<h2>Edit book</h2>
<form method="post" asp-controller="Admin" asp-action="Edit">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Title"></label><br />
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div>
        <label asp-for="Description"></label><br />
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <label asp-for="Rating"></label><br />
        <input asp-for="Rating" />
        <span asp-validation-for="Rating"></span>
    </div>
    <div>
        <label asp-for="NumberOfPages"></label><br />
        <input asp-for="NumberOfPages" />
        <span asp-validation-for="NumberOfPages"></span>
    </div>
    <div>
        <label asp-for="Author"></label><br />
        <input asp-for="Author" />
        <span asp-validation-for="Author"></span>
    </div>
    <div>
        <input type="submit" value="Edit" />
    </div>
</form>