
@if (User.IsInRole("Admin"))
{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

@model LibraryManager.DTO.Models.Manage.AddNewBookModel
<div class="color">
    <p></p>
    <div class="jumbotron center">
        <h2>Create book</h2>
    </div>
    <div class="center">
        <form method="post" enctype="multipart/form-data" asp-controller="Admin">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="PDF">PDF-File</label><br />
                <input type="file" asp-for="PDF" name="pdffiles" />

            </div>
            <div>
                <label asp-for="Title"></label><br />
                <input type="text" asp-for="Title" />
                <span asp-validation-for="Title"></span>
            </div>
            <div>
                <label asp-for="Description"></label><br />
                <textarea rows="5" type="text" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description"></span>
            </div>
            <div>
                <label asp-for="Year"></label><br />
                <input type="text" asp-for="Year" />
                <span asp-validation-for="Year"></span>
            </div>
            <div>
                <label asp-for="NumberOfPages"></label><br />
                <input type="text" asp-for="NumberOfPages" />
                <span asp-validation-for="NumberOfPages"></span>
            </div>
            <div>
                <label asp-for="AuthorName">Author Name</label><br />
                <input type="text" asp-for="AuthorName" />
                <span asp-validation-for="AuthorName"></span>
            </div>
            <div>
                <label asp-for="AuthorSurname">Author Surname</label><br />
                <input type="text" asp-for="AuthorSurname" />
                <span asp-validation-for="AuthorSurname"></span>
            </div>
            <input type="button" value="Create new Genre" class="btn btn-success" onclick="@("window.location.href='" + @Url.Action("CreateGenre", "Admin") + "'");" />
            <div class="form-group">
                <b>Genres</b>
                <p></p>
                @Html.DropDownListFor(m => m.SelectedGenre, Model.Genres, "Select Genre")
            </div>
            <div class="row"></div>
            <div>
                <label asp-for="Image">Image</label><br />
                <input type="file" asp-for="Image" name="files" />

            </div>
            <br />
            <div>
                <button type="submit" class="btn btn-success">Create book</button>
            </div>
        </form>
    </div>
</div>



<style type="text/css">

    .center {
        margin: auto;
        width: 60%;
    }

    input[type=text], select {
        width: 100%;
        padding: 7px 15px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #577284;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #7390a3;
    }
</style>
